<% layout("layouts/boilerplate.ejs") %>

    <div class="row">
        <div class="col-8 offset-2">

    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <h1>Create a new listing</h1>
        <div class="mb-4 ">
            <label for="title" class="form-label">Title</label>
            <input type:="text" name="listings[title]" class="form-control" placeholder="Add a catchy title" required >
            <div class="valid-feedback">Title look good!!</div>
        </div>
        
       
        
        
        <div class="mb-4">
            <label for="description" class="form-label">Description:</label>
            <textarea type="textarea"  class="form-control" name="listings[description]" placeholder="Enter the  discription" required></textarea>
            <div class="invalid-feedback">write a short description</div>

        </div>

        <div class="mb-4">
            <label for="img" class="form-label">Image</label>
            <input type="file" class="form-control" name="listings[img]" placeholder="Enter the image URL">
            
        </div>
       
       
        
        <div class="row">
            <div class="mb-4 col-md-4">
                <label for="price" class="form-label">Price:</label>
        
                <input name="listings[price]" class="form-control" type="number" placeholder="1,200" required>
                <div class="invalid-feedback">Please enter correct price</div>
    
            </div>
                
                
                
                <div class="mb-4 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listings[country]" class="form-control" type="text" placeholder="India" required>
                    <div class="invalid-feedback">Please enter valid country</div>

                </div>
        </div>
        
       
        
        
        <div class="mb-4">
            <label for="location" class="form-label">Location:</label>

            <input name="listings[location]" class="form-control" type="text" placeholder="Jaipur" required>

            <div class="invalid-feedback">Please enter valid location</div>

        </div>

        <div class="checkboxContainer" style="display: flex; justify-content: space-evenly; flex-wrap: wrap;align-items: center; margin-bottom: 20px; ">
            <div class="form-check mb- 4">
                <input class="form-check-input" type="checkbox" value="trending"  name="listings[category]" id="flexCheckChecked">
                    <label class="form-check-label " for="flexCheckChecked">
                        Trending
                    </label>
            </div>
            <div class="form-check mb- 4">        
                <input class="form-check-input" type="checkbox" value="mountains" name="listings[category]" id="flexCheckDefault"/>
                <label class="form-check-label" for="flexCheckDefault">
                    Mountains
                </label>
            </div>
            <div class="form-check mb- 4">
                <input class="form-check-input" type="checkbox" value="farm" name="listings[category]" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Farm
                </label>
                </div>
            <div class="form-check mb- 4">
                <input class="form-check-input" type="checkbox" value="snow" name="listings[category]" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Snow
                </label>
                </div>
            <div class="form-check mb- 4">
                <input class="form-check-input" type="checkbox" value="camp" name="listings[category]" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Camp
                </label>
            </div>
            <div class="form-check mb- 4">
                <input class="form-check-input" type="checkbox" value="pools" name="listings[category]" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Pools
                </label>
            </div>
            <div class="form-check mb- 4">
                <input class="form-check-input" type="checkbox" value="rooms" name="listings[category]" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Rooms
                </label>
            </div>
            <div class="form-check mb- 4">
                <input class="form-check-input" type="checkbox" value="iconic" name="listings[category]" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Iconic Cities
                </label>
            </div>
            <div class="form-check mb- 4">
                <input class="form-check-input" type="checkbox" value="castles" name="listings[category]" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Castles Near
                </label>
            </div>
        </div>    
        
        <button class="btn btn-dark add-btn">Add</button>
    </form>
    
     </div>
</div>
<br>
<br>
