<% layout("/layouts/boilerplate") %>
<style>
    .top{
        background-color: #00aaff;
        color: #fff;
        padding: 20px;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 20px;
        display:  flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .top p {
            font-size: 36px;
            margin: 10px 0;
        }


        .top h2 {
            font-size: 18px;
            margin: 0;
        }

        .collection{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

        .card{
            border: 1px solid black !important;
            margin-top: 5rem !important;
        }
</style>


<div class="collection">


    <div class="card" style="width: 18rem">
        <div class="top">
            <h2>Unlimited data here</h2>
            <p>Only 14999</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Buy Now!!!!</a>
        </div>
    </div>




    <div class="card" style="width: 18rem; margin-top: 10rem;">
        <div class="top">
            <h2>Unlimited data here</h2>
            <p>Only 14999</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Buy Now!!!!</a>
        </div>
    </div>






<div class="card" style="width: 18rem; margin-top: 10rem;">
    <div class="top">
        <h2>Unlimited data here</h2>
        <p>Only 14999</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Buy Now!!!!</a>
    </div>
</div>

</div>

