<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-6 offset-3">
            <form method="post" action="/forgotPass/<%=selectedList.username %>" novalidate class="needs-validation">
                <div class="mb-4 ">
                   <h3><i><b>@<%= selectedList.username %></b></i> </h3>
                   <br/>
                   <br/>
                   <h5 style="text-align: center;">Set your new password here</h5>
                </div>

                <div class="mb-4 ">
                    <label for="password" class="form-label">New Password: </label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Add new password" required>
                    <div class="valid-feedback">Password look good!!</div>
                </div>

                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>